.card-container {
  display: grid;
  width: 60%;
  background-color: #3a4d39;
  color: white;
  flex-wrap: wrap;
  border-radius: 1rem;
  box-shadow: 1px 1px 4px 2px rgba(12, 5, 32, 0.6);
  overflow: hidden;
  grid-template-columns: repeat(2, 1fr);
}

.login-image {
  flex-wrap: wrap;
  overflow: hidden;
}

.login-illustration {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin: 1rem 2.5rem;
}

.title {
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  margin: 1rem 0;
}

form {
  width: 80%;
  font-size: 2rem;
}

.login-input {
  background: none;
  border: none;
  border-bottom: 0.1rem solid white;
  outline: none;
  color: white;
  width: 100%;
  font-size: 1.5rem;
  margin: 1.5rem 0;
}

.login-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-btn {
  background: #f4b115;
  border: none;
  outline: none;
  color: #201e1a;
  cursor: pointer;
  width: 40%;
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 2rem;
  font-size: 1.2rem;
}

.login-btn > button {
  cursor: pointer;
}

.google-sign-in {
  display: flex;
  justify-content: center;
  align-items: center;
}

#login {
  display: flex;
  justify-content: center;
  align-items: center;
}

#google-login {
  background-color: rgb(245, 245, 245);
  padding: 0.5rem;
  border-radius: 2rem;
  font-size: 1.2rem;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #201e1a;
  cursor: pointer;
}

#google-login span {
  font-size: 1rem;
}

#signup {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  width: 100%;
}

#signup > button {
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
  font-size: 1.4rem;
  color: #f4b115;
  padding-left: 0.2rem;
}

/* MEDIA QUERIES */

@media screen and (min-width: 320px) and (max-width: 768px) {
  .card-container {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    overflow: scroll;
  }

  .login-illustration {
    display: none;
  }

  .login-image {
    width: 100%;
    height: auto;
  }

  #signup {
    margin: 1.5rem 0;
    display: flex;
    flex: 1;
    width: 100%;
  }

  #signup > span {
    display: inline;
    flex: 0.72;
  }
  #signup > button {
    padding: 0;
    font-size: 1rem;
    flex: 0.28;
  }

  .login-input {
    background: none;
    border: none;
    border-bottom: 0.1rem solid white;
    outline: none;
    color: white;
    width: 100%;
    font-size: 1.2rem;
    margin: 1.2rem 0;
  }

  .login-btn {
    width: 100%;
    margin: 0.5rem 0;
    padding: 0.3rem;
  }

  #google-login {
    padding: 0.3rem;
    width: 100%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .card-container {
    width: 80%;
    grid-template-columns: repeat(1, 1fr);
    overflow: scroll;
  }

  .login-illustration {
    display: block;
  }

  .login-btn {
    margin: 0.8rem 0;
    padding: 0.5rem;
    font-size: 1.5rem;
  }

  #google-login {
    padding: 0.2rem;
  }

  #google-login > span {
    font-size: 1.5rem;
  }

  #signup > span {
    font-size: 1.5rem;
  }
  #signup > button {
    font-size: 1.5rem;
  }
}
