@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Merriweather:wght@400;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --color-background: #ece3ce;
  --color-card: #4f6f52;
  --color-card-font: antiquewhite;
  --color-primary-btn: #f4b115;
  --color-secondary-btn: rgb(245, 245, 245);
  --color-header-title: #f4bf96;
}

body {
  /* margin: 0; */
  font-family: "Merriweather", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--color-background);
  min-height: 100vh;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
